$s-add : 0px 651px 0px -651px 13px 13px 90px 4035px '../img/sprite.png';
$s-call : 0px 1499px 0px -1499px 36px 30px 90px 4035px '../img/sprite.png';
$s-cancel : 0px 320px 0px -320px 9px 9px 90px 4035px '../img/sprite.png';
$s-chat : 0px 2024px 0px -2024px 39px 33px 90px 4035px '../img/sprite.png';
$s-check-green : 0px 2290px 0px -2290px 35px 33px 90px 4035px '../img/sprite.png';
$s-check-red : 0px 2157px 0px -2157px 35px 33px 90px 4035px '../img/sprite.png';
$s-how1 : 0px 1629px 0px -1629px 21px 31px 90px 4035px '../img/sprite.png';
$s-how2 : 0px 1119px 0px -1119px 24px 24px 90px 4035px '../img/sprite.png';
$s-how3 : 0px 3503px 0px -3503px 26px 38px 90px 4035px '../img/sprite.png';
$s-how4 : 0px 1370px 0px -1370px 29px 29px 90px 4035px '../img/sprite.png';
$s-how5 : 0px 879px 0px -879px 30px 20px 90px 4035px '../img/sprite.png';
$s-icon1 : 0px 2557px 0px -2557px 22px 34px 90px 4035px '../img/sprite.png';
$s-icon1h : 0px 2691px 0px -2691px 22px 34px 90px 4035px '../img/sprite.png';
$s-icon2 : 0px 2423px 0px -2423px 33px 34px 90px 4035px '../img/sprite.png';
$s-icon2h : 0px 2825px 0px -2825px 33px 34px 90px 4035px '../img/sprite.png';
$s-icon3 : 0px 3641px 0px -3641px 24px 40px 90px 4035px '../img/sprite.png';
$s-icon3h : 0px 3781px 0px -3781px 24px 40px 90px 4035px '../img/sprite.png';
$s-icon4 : 0px 1760px 0px -1760px 26px 32px 90px 4035px '../img/sprite.png';
$s-icon4h : 0px 1892px 0px -1892px 26px 32px 90px 4035px '../img/sprite.png';
$s-icon5 : 0px 2959px 0px -2959px 33px 35px 90px 4035px '../img/sprite.png';
$s-icon5h : 0px 3094px 0px -3094px 33px 35px 90px 4035px '../img/sprite.png';
$s-icon6 : 0px 3366px 0px -3366px 38px 37px 90px 4035px '../img/sprite.png';
$s-icon6h : 0px 3229px 0px -3229px 38px 37px 90px 4035px '../img/sprite.png';
$s-like : 0px 999px 0px -999px 21px 20px 90px 4035px '../img/sprite.png';
$s-minus : 0px 0px 0px 0px 12px 2px 90px 4035px '../img/sprite.png';
$s-pdf : 0px 3921px 0px -3921px 90px 114px 90px 4035px '../img/sprite.png';
$s-plus : 0px 539px 0px -539px 12px 12px 90px 4035px '../img/sprite.png';
$s-question : 0px 764px 0px -764px 11px 15px 90px 4035px '../img/sprite.png';
$s-reply : 0px 211px 0px -211px 21px 9px 90px 4035px '../img/sprite.png';
$s-star-gold : 0px 429px 0px -429px 10px 10px 90px 4035px '../img/sprite.png';
$s-star : 0px 102px 0px -102px 9px 9px 90px 4035px '../img/sprite.png';
$s-toll : 0px 1243px 0px -1243px 35px 27px 90px 4035px '../img/sprite.png';
